/*
green: #4CA64C
grey: #808080
blue: #58ABF9
*/

html{
	height:100%;
}

body{
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: white;
}

h1{
	font-family: 'Crimson Text', serif;
	font-size: 4em;
}

h2 {
	font-family: 'Crimson Text', serif;
	font-size: 3.5em;
	margin-bottom: 0px;
}

p{
	font-family: Helvetica, Sans-Serif;
	font-size: 1.5em;
	margin-top: 10px;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.button1{
	height: 28px;
	background: #58ABF9;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

.description{
	margin-top: 60px;
}

#demoExternal{
	display: none;
}



/* Header */
header{
	/*background: #808080;*/
	background: #39b8ea;
	color: white;
	width: 100%;
}

.navbar{
	background: #39b8ea;
	color: white;
	width: 100%;
	overflow: hidden;
}

header a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
	margin: 10px 0px 10px 0px;
}

header nav{
	float: right;
	margin-top: 30px;
}

header .highlight, header .current a{
	color: #000000;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
}


/* Showcase */
#showcase{
	min-height: 420px;
	background: url("../images/adventureCopy.jpg") no-repeat center center;
	background-size: 100%;
	text-align: center;
	
}

#showcase h1{
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 500px;
}

#showcase p{
	font-size: 20px;
}

#help{
	padding: 15px;
	color: white;
	background: #808080;
	text-align: center;
}

/* Boxes */
#boxes{
	margin: 5%;
	border-bottom: 5px solid;
	border-bottom-color: #4CA64C;
	border-width: 50%;
	padding-bottom: 40px;
}

#boxes img{
	width: 50%;
}

.right{
	float:right;
	width:50%;
	vertical-align: middle;
}

.left{
	float: left;
	width: 50%;
}

#imageRight{
	text-align: right;
}

#imageRightMedia{
	display: none;
}

.row{
	padding-bottom: 400px; 
}

/* About */
#about{
	color: white;
	background: #4CA64C;
	padding-bottom: 40px;
}

#about-header{
	text-align: center;
}


#demo{
	text-align: center;
	padding-bottom: 40px;
}


#helpCTA{
	font-size: 22px;
	text-decoration: none;
	background-color: #4CA64C;
	padding: 15px 15px 15px 15px;
	border-top: 1px solid #4CA64C;
	border-right: 1px solid #4CA64C;
	border-bottom: 1px solid #4CA64C;
	border-left: 1px solid #4CA64C;
	border-radius: 8px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #39b8ea;

}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


/* Footer */
footer{
	text-align: center;
	padding: 20px;
	color: white;
	background-color: #39b8ea;
}




@media only screen and (max-width: 1050px) {

	header img{
		height: 40px;

	}

	h1{
		font-size:2.5em;
	}

	h2{
		font-size:2em;
	}

	p{
		font-size:1em;
	}

	#showcase h1{
	margin-top: 120px;
	margin-bottom: 10px;
	margin-left: 300px;
	}

	.description{
		margin-top: 80px;
	}

	#boxes img{
		width: 70%;
	}

}

@media only screen and (max-width : 768px) {

	h2{
		font-size:1.5em;
	}

	p{
		font-size:1em;
	}

	.description{
		margin-top: 70px;
		margin-bottom: 0px;
	}

	#boxes{
		padding-bottom: 0px;
	}

	#boxes img{
		width: 70%;
	}

}

@media only screen and (max-width: 675px) {

	header nav{
		margin-top: 15px;
	}

	h1{
		font-size:2em;
	}

	h2{
		font-size:1.5em;
	}

	p{
		font-size:1em;
	}


	.mainNav{
		float: left;
		margin-top: -20px;
		margin-left:-10px;
		display: none;

	}

	#helpCTA{
		display: inline;
		font-size: 12px;
		padding: 10px 8px 10px 8px;

	}

	header img{
		height: 30px;

	}

	#showcase{
		display:none;
	}

	.right{
		width:100%;
		float:left;
	}


	.left{
		width:100%;
		float:left;
	}

	.description{
		margin-top: 0px;
		margin-bottom: 30px;
	}

	#imageRight{
		display: none;
	}
	#imageRightMedia{
		display: inline;
		margin-bottom: 0px;
	}
	#demoEmbed{
		display: none;
	}
	#demoExternal{
		display: inline;
	}
	#boxes{
		padding: 0px;
	}

	#boxes img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}
	#boxes h2{
		text-align: center;
	}
	#form{
		width: 100%;
	}

}


@media only screen and (max-width: 336px) {
	#helpCTA{
		display: none;
	}



}













